# Generic build files
node_modules
build
lib

# Package-specific
packages/spec-template-product/files

packages/spec-server/middleware
packages/spec-server/tools
packages/spec-server/types.js
packages/spec-server/types.js.flow
